.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #5866ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 2.5rem;
  border-color: black;
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.TodoWrapper {
  background: #1A1A40;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;

}

.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #8758ff;
  padding: 0.6rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #fff;
  border-color: black;
  border-radius: 5px;
  border-style: solid;
  border-width: 2.5px;
  border-radius: 10px;

}

.todo-input::placeholder {
  color: #ffffffba;
}

.todo-btn {
  background: #5866ff;
  border-color: black;
  border-radius: 10px;
  padding: 0.6rem;
  cursor: pointer;
  margin-left: 10px;
  border-style: solid;
  border-width: 2.5px;
  color: white;

}

.todo-btn:hover {
  background: white;
  color: #5866ff;
}
.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #5866ff;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;

}

.Todo p {
  border: solid;
  border-color: black;
  padding: 7px;
  width: 19rem;
  border-radius: 10px;
  margin-left: -17px;
  text-align: left;
  padding-left: 10px;
  margin-bottom: -11px;
}

.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #fff;
  cursor: pointer;
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}

.edit-btn {
  margin-top: 10px;
  margin-left: 20px;
}

.delete-btn {
  margin-top: 10px;
}
